*{
  font-family: 'Oswald', sans-serif;
}

body{
  background-color: beige;
}

ul {
  list-style-type: none;
  background-color: black;
  text-align: center;
  margin: 0px;
}

ul a:hover{
  color: grey;
}

li{
  display: inline-block;
}

li a {
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 0 8px 0 8px;
  text-decoration: none;
}



.active {
  background-color: #803399;
  padding: 10px;
  text-decoration: underline;
  z-index: 10;
}

h1{
  color: black;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}


h2{
  text-align: center;
  display: block;
  font-weight: bold;
  color: black;
  font-size: 23px;
  font-weight: 600;
}

p {
  color: darkslategrey;
  font-size: 18px;
  word-spacing: 2px;
  line-height: 30px;
  display: block;
}

.grid-container{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2px;
  overflow: auto; 
}

header{
  grid-row: 1/2;
  grid-column: 1/-1;
}

.about-web, .myself{
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid black;
  padding: 15px;
  position: relative;
  text-align: center;
  z-index: 10;
  margin: 5px 0px;
}

.about-web{
  grid-row: 2/3;
}

.myself{
  grid-row: 3/4;
}


@keyframes titleAnimation {
  from {
      opacity: 0.3;
      font-size: 1em;
  }
  to {
      opacity: 1;
      font-size: 3em;
  }
}

#page-title-text, aside{
  animation: titleAnimation 8s ease 1;
}

@media (prefers-reduced-motion) {
  *{
      animation: none !important;
  }
}

#page-title-text{
  color: beige;
  background-color: rgba(0, 0, 0, .8);
  font-size: 3em;
  align-self: flex-start;
  flex-wrap: wrap-reverse;
  width: 100%;
}


#page-title{
  background-attachment: scroll; /* Parallax effect */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  background-color: #DDDDDD;
  background-image: url("../images/dtaa.jpg");
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

img{
  width: 100%;
}

aside{
  background-color: rgba(0, 0, 0, .8);
  width: auto;
  position: relative;
  float: right;
  text-align: right;
  align-self: center;
  z-index: 10;
  align-self: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

#aside-text{
  color: white;
}

.rest-box{
  border: 5px solid black;
  padding: 8px;
  margin-bottom: 5px;
}

footer{
  grid-column: 1/-1;
  grid-row: auto;
  background-color: black;
  color:white;
  text-align: center;
}

img:hover {
	box-shadow: 4px 4px 4px 4px steelblue;
}


#gallery-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

figcaption{
  text-align: center;
}

.gallery-item{
  border: 5px solid black;
  padding: 8px;
  width:100%;
  margin-bottom: 5px;
  justify-content: center;
}









/*Desktop View!!!!!!!!!!!*/
@media all and (min-width: 800px){

  
  #gallery-flex{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .gallery-img{
    width: 310px;
    border: 3px solid black;
    padding: 0px;
    margin-bottom: 0px;
  }

  .gallery-item{
    width:auto;
  }

  li a {
    font-size: 18px;
    padding: 0 15px 0 15px;
  }

  .about-web, .myself{
    margin: 10px 100px;
  }

  .map{
    margin: 10px 40px;
  }

  .rest-box{
    margin: 20px 100px;
  }

  p{
    text-align: center;
    font-size: 25px;
  }

/*  .grid-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2px;
    overflow: auto; 
  }

  #page-title{
    grid-column: 1/-1;
  }

  .about-web{
    grid-column: 1/-1;
  }

  .myself{
    grid-column: 1/-1;
  }

  .map{
     grid-column: 2/-1;
  }*/

}
